OPTIONS=glyph:G_vwall_mines/U+2502/brown
OPTIONS=glyph:G_hwall_mines/U+2500/brown
OPTIONS=glyph:G_tlcorn_mines/U+250c/brown
OPTIONS=glyph:G_trcorn_mines/U+2510/brown
OPTIONS=glyph:G_blcorn_mines/U+2514/brown
OPTIONS=glyph:G_brcorn_mines/U+2518/brown
OPTIONS=glyph:G_crwall_mines/U+253C/brown
OPTIONS=glyph:G_tuwall_mines/U+2534/brown
OPTIONS=glyph:G_tdwall_mines/U+252C/brown
OPTIONS=glyph:G_tlwall_mines/U+2524/brown
OPTIONS=glyph:G_trwall_mines/U+251C/brown
OPTIONS=glyph:G_vwall_knox/U+2502/yellow
OPTIONS=glyph:G_hwall_knox/U+2500/yellow
OPTIONS=glyph:G_tlcorn_knox/U+250c/yellow
OPTIONS=glyph:G_trcorn_knox/U+2510/yellow
OPTIONS=glyph:G_blcorn_knox/U+2514/yellow
OPTIONS=glyph:G_brcorn_knox/U+2518/yellow
OPTIONS=glyph:G_crwall_knox/U+253C/yellow
OPTIONS=glyph:G_tuwall_knox/U+2534/yellow
OPTIONS=glyph:G_tdwall_knox/U+252C/yellow
OPTIONS=glyph:G_tlwall_knox/U+2524/yellow
OPTIONS=glyph:G_trwall_knox/U+251C/yellow
