{% extends "main.rc" %}
{% set base37 = true %}

{% block symbols %}
{% include "unicode_symbols.rc" +%}

{% include "color_glyphs.rc" %}
{% endblock symbols %}

{% block options %}
OPTIONS=taunt:gwaa loudly at your foes
OPTIONS=orientation:gay
OPTIONS=timed_delay
{% endblock options %}

{% block bindings %}
BIND=5:rush
{% endblock bindings %}
