{% if jnh_username is defined %}
# junethack {{ jnh_username }}

{% endif %}

{%- if windowtype == "curses" %}
{% include "curses.rc" %}
{% else %}
{% include "tty.rc" %}
{% endif +%}

{% include "menucolor.rc" +%}

{% include "statusbar.rc" +%}

{% include "msgtypes.rc" +%}

{% include "names.rc" %}
{# block for additional names to keep set of names together #}
{% block names %}
{% endblock names +%}

{% include "autopickup.rc" +%}

{% if comments %}
# force_invmenu: always show a menu instead of a text query when selecting inventory items
{% endif %}
OPTIONS=!force_invmenu

OPTIONS=map_mode:tiles,scroll_margin:10

{% if comments %}
# hilite_pet: visually distinguish pets from other animals
{% endif %}
OPTIONS=hilite_pet

{% if comments %}
# hilite_pile: visually distinguish plies of objects from individual objects
{% endif %}
OPTIONS=hilite_pile

OPTIONS=!toptenwin

{% if comments %}
# number_pad: use digit keys instead of letters to move
#     0: move by letters; "yuhjklbn"
#     1: move by numbers; digit '5' acts as 'G' movement prefix
#     2: move by numbers; digit '5' acts as 'g' movement prefix
#     3: move by numbers using phone key layout (123 above, 789 below)
#     4: combines 3 with 2 (phone key layout plus MS-DOS compatibility)
#     -1: move by letters but use 'z' to go northwest and 'y' to zap wands
{% endif %}
OPTIONS=number_pad:2

{% if comments %}
# lit_corridor: distinguish visually between lit and unlit corridors
{% endif %}
OPTIONS=lit_corridor

{% if comments %}
# msg_window: controls how to show messages recalled with ^P
#     single: show single message at a time
#     combination: show two messages as single, then as full
#     full: full window, oldest message first
#     reversed: full window, newest message first
{% endif %}
OPTIONS=msg_window:reversed

{% if comments %}
# sortloot: controls sorting behavior of item-choosing lists
#     full: always sort lists by item name
#     loot: sort lists that don't use inventory letters
#     none: show all lists without sorting
{% endif %}
OPTIONS=sortloot:full

{% if comments %}
# autoquiver: automatically quiver a suitable weapon when firing if your quiver empties
{% endif %}
OPTIONS=autoquiver

{% if comments %}
# cmdassist: provide additional command assistance when detecting some anticipated mistakes
{% endif %}
OPTIONS=!cmdassist

{% if comments %}
# travel: enables the travel command, bound to _ by default
{% endif %}
OPTIONS=travel

OPTIONS=disclose:yi ya nv ng yc no

{% if comments %}
# altmeta: enables extended command shortcuts using the alt key
{% endif %}
OPTIONS=altmeta

{% if comments %}
# autodig: automatically dig when wielding a digging tool moving into a place that can be dug
{% endif %}
OPTIONS=autodig

{% if comments %}
# runmode: set the screen updating interval for multi-turn actions such as running or traveling
#     teleport: update the map after movement has finished
#     run: update the map after every seven or so steps
#     walk: update the map after every step
#     crawl: update the map and pause after every step
{% endif %}
OPTIONS=runmode:teleport

{% if comments %}
# whatis_coord: coordinates to display when looking around the map with the whatis or farlook commands
#     c: compass ('east' or '3s' or '2n,4w')
#     f: full compass ('east' or '3south' or '2north,4west')
#     m: map <x,y> (map column x=0 is not used)
#     s: screen [row,column] (row is offset to match tty usage)
#     n: none (no coordinates shown)
{% endif %}
OPTIONS=whatis_coord:c

{% if comments %}
# implicit_uncursed: omit "uncursed" from inventory lists when it is implied from other aspects of the item description
{% endif %}
OPTIONS=!implicit_uncursed

{% if base37 %}
{% if comments %}
# tutorial: play a tutorial level at the start of the game
{% endif %}
OPTIONS=!tutorial

{% if comments %}
# safe_wait: prevents you from waiting or searching when next to a hostile monster
{% endif %}
OPTIONS=!safe_wait

{% if comments %}
# tips: show some helpful tips during gameplay
{% endif %}
OPTIONS=!tips

{% if comments %}
# showdamage: when your character takes damage, show a message of the damage taken and amount of hit points remaining
{% endif %}
OPTIONS=showdamage

OPTIONS=quick_farsight

OPTIONS=cond_held,cond_ice,cond_lava,cond_woundedlegs,cond_slip

{% endif -%}

{% if comments %}
# paranoid_confirmation: space-separated list of specific situations where alternate prompting is desired
#     Confirm:     for any prompts which are set to require 'yes' rather than 'y',
#                  also require 'no' to reject instead of accepting any non-yes response as no
#     quit:        require 'yes' rather than 'y' to confirm quitting or switching into explore mode
#     die:         require 'yes' rather than 'y' to confirm dying in explore mode
#     bones:       require 'yes' rather than 'y' to confirm saving bones data on death in debug mode
#     attack:      require 'yes' rather than 'y' to confirm attacking a peaceful monster
#     wand-break:  require 'yes' rather than 'y' to confirm breaking a wand with the apply command
#     eating:      require 'yes' rather than 'y' to confirm whether to continue eating
#     Were-change: require 'yes' rather than 'y' to confirm changing form due to lycanthropy when hero has polymorph control
#     pray:        require 'y' to confirm an attempt to pray instead of automatically praying
{% if base37 %}
#     trap:        require 'y' to confirm an attempt to move into or onto a known trap
#     swim:        prevent walking into water or lava
#     AutoAll:     require confirmation when the 'A' choice is selected in object class filtering menus
{% endif %}
#     Remove:      require selection from inventory for 'R' and 'T' commands even when just wearing one applicable item
#     all:         turn on all of the above
{% endif %}
OPTIONS=paranoid_confirmation:pray Remove{{ " AutoAll trap swim" if base37 }}
{# block for additional options to keep main set of options together #}

{% block options %}
{% endblock options %}

AUTOCOMPLETE=twoweapon

BIND=M-m:terrain
BIND=C:conduct
BIND=!:annotate
BIND=%:ride
{% if base37 %}
BIND=O:optionsfull
{% endif %}
{# block for additional bindings to keep set of bindings together #}
{% block bindings %}
{% endblock bindings %}

OPTIONS=symset:Enhanced1,roguesymset:plain
OPTIONS=boulder:0
{% block symbols %}
{% endblock symbols +%}

{% include "pergame.rc" %}
