# junethack karafruit

{% include "menucolor.rc" +%}

{% include "statusbar.rc" +%}

{% include "msgtypes.rc" +%}

{% block names %}
OPTIONS=dogname:Athena
OPTIONS=catname:Moldorm
OPTIONS=horsename:Horse
OPTIONS=fruit:word
{% endblock names %}

{% include "autopickup.rc" +%}

OPTIONS=!force_invmenu
OPTIONS=suppress_alert:3.3.1
OPTIONS=map_mode:tiles,scroll_margin:10
OPTIONS=hilite_pet,hilite_pile,!toptenwin
OPTIONS=time,showexp,number_pad:2,lit_corridor
OPTIONS=msg_window:reversed,sortloot:full
OPTIONS=autoquiver
# OPTIONS=invweight,showdmg,showweight
OPTIONS=!cmdassist
OPTIONS=travel
OPTIONS=disclose:yi ya nv ng yc no
OPTIONS=altmeta
OPTIONS=!autodig
OPTIONS=runmode:teleport
OPTIONS=quick_farsight
OPTIONS=whatis_coord:c
OPTIONS=!implicit_uncursed
{% block options %}
{% endblock options %}

AUTOCOMPLETE=twoweapon

BIND=M-m:terrain
BIND=C:conduct
BIND=!:annotate
BIND=%:ride
{% block bindings %}
{% endblock bindings %}

OPTIONS=symset:Enhanced1,roguesymset:plain
OPTIONS=boulder:0
{% block symbols %}
{% endblock symbols +%}

{% include "pergame.rc" %}
