{#- parameters for menucolors.rc #}

{#- colors for various types of items #}
{%- set basecolor = "gray" %}
{%- set unknown_buc = basecolor %}
{%- set cursed = "red" %}
{%- set uncursed = "white" %}
{%- set blessed = "green" %}
{%- set danger_item = "red" %}
{%- set valuable_item = "yellow" %}
{%- set bag_kaboom = "magenta" %}

{#- modifier for equipped items #}
{%- set equipped_item = "inverse" %}

{#- regex for matching equipped/lit items #}
{%- set equipped = "(being worn|\(wielded|weapon in|tethered to|lit\)|\(on (left|right)|at the ready|in quiver)" %}

{#- regex for matching the end of an item, possibly including a weight marking #}
{%- set weight_end = "(\s+(\{[0-9]+\}|\([0-9]+ aum\)))?$" %}

{#- end menucolor.rc parameters -#}

OPTIONS=menucolors,menu_objsyms

### Item Status (BUC/worn)
MENUCOLOR=""={{ basecolor }}

MENUCOLOR="[Bb]lessed"={{ blessed }}
MENUCOLOR="[Hh]oly"={{ blessed }}
MENUCOLOR="[Cc]ursed"={{ cursed }}
MENUCOLOR="[Uu]nholy"={{ cursed }}
MENUCOLOR="[Uu]ncursed"={{ uncursed }}

MENUCOLOR=".*{{ equipped }}"={{ unknown_buc }}&{{ equipped_item }}
MENUCOLOR="[Cc]ursed.*{{ equipped }}"={{ cursed }}&{{ equipped_item }}
MENUCOLOR="[Uu]ncursed.*{{ equipped }}"={{ uncursed }}&{{ equipped_item }}
MENUCOLOR="[Bb]lessed.*{{ equipped }}"={{ blessed }}&{{ equipped_item }}

MENUCOLOR="gold pieces?"={{ valuable_item }}
MENUCOLOR="gold pieces?.*{{ equipped }}"={{ valuable_item }}&{{ equipped_item }}

### Items
## Gray Stones
MENUCOLOR="luckstone|called luck"=bright blue
MENUCOLOR="touchstone|called touch"=bright blue
MENUCOLOR=" [Cc]ursed luckstone| [Cc]ursed.*called luck"={{ danger_item }}
MENUCOLOR="loadstone|called load"={{ danger_item }}
MENUCOLOR="gray stone"={{ danger_item }}

MENUCOLOR="chameleon corpse"={{ danger_item }}
MENUCOLOR="doppelganger corpse"={{ danger_item }}
MENUCOLOR="were.* corpse"={{ danger_item }}

## Gemstones
MENUCOLOR="dilithium crystal"={{ valuable_item }}
MENUCOLOR="diamonds?{{ weight_end }}"={{ valuable_item }}
MENUCOLOR="rub(y|ies){{ weight_end }}"={{ valuable_item }}
MENUCOLOR="jacinth stone"={{ valuable_item }}
MENUCOLOR="sapphires?{{ weight_end }}"={{ valuable_item }}
MENUCOLOR="black opal"={{ valuable_item }}
MENUCOLOR="emeralds?{{ weight_end }}"={{ valuable_item }}
MENUCOLOR="turquoise stone"={{ valuable_item }}
MENUCOLOR="citrine"={{ valuable_item }}
MENUCOLOR="aquamarine"={{ valuable_item }}
MENUCOLOR="amber stone"={{ valuable_item }}
MENUCOLOR="topaz stone"={{ valuable_item }}
MENUCOLOR="jet stone"={{ valuable_item }}
MENUCOLOR="opals?{{ weight_end }}"={{ valuable_item }}
MENUCOLOR="chrysoberyl"={{ valuable_item }}
MENUCOLOR="garnet stone"={{ valuable_item }}
MENUCOLOR="amethyst"={{ valuable_item }}
MENUCOLOR="jasper stone"={{ valuable_item }}
MENUCOLOR="fluorite"={{ valuable_item }}
MENUCOLOR="jade stone"={{ valuable_item }}
MENUCOLOR="obsidian stone"={{ valuable_item }}
MENUCOLOR="agate stone"={{ valuable_item }}

MENUCOLOR="Amulet of Yendor named"={{ valuable_item }}
MENUCOLOR="Amulet of Yendor named.*{{ equipped }}"={{ valuable_item }}&{{ equipped_item }}

MENUCOLOR="wand (of|called) cancellation"={{ bag_kaboom }}
MENUCOLOR="bag (of|called) tricks"={{ bag_kaboom }}
MENUCOLOR="bag (of|called) holding"={{ bag_kaboom }}

### Overview
MENUCOLOR="^\s*Level.*rust trap"=bright blue
MENUCOLOR="^\s*Level.*You are here"=green

{% set branch_header = "white&inverse" %}
{% set branch_transition = "yellow" %}
## Branches
MENUCOLOR="The Tutorial:"={{ branch_header }}
MENUCOLOR="The Dungeons of Doom:"={{ branch_header }}
MENUCOLOR="The Gnomish Mines:"={{ branch_header }}
MENUCOLOR="Sokoban:"={{ branch_header }}
MENUCOLOR="The Quest:"={{ branch_header }}
MENUCOLOR="Fort Ludios:"={{ branch_header }}
MENUCOLOR="Gehennom:"={{ branch_header }}
MENUCOLOR="Vlad.s Tower:"={{ branch_header }}
MENUCOLOR="The Elemental Planes:"={{ branch_header }}

MENUCOLOR="Stairs down to The Gnomish Mines"={{ branch_transition }}
MENUCOLOR="Stairs up to Sokoban"={{ branch_transition }}
MENUCOLOR="Portal to The Quest"={{ branch_transition }}
MENUCOLOR="Portal to Fort Ludios"={{ branch_transition }}
MENUCOLOR="Stairs up to Vlad.s Tower"={{ branch_transition }}

## |TNNT|
MENUCOLOR="robotfindskitten:"={{ branch_header }}
MENUCOLOR="DevTeam Office:"={{ branch_header }}
MENUCOLOR="Deathmatch Arena:"={{ branch_header }}

MENUCOLOR="Portal to robotfindskitten"={{ branch_transition }}
MENUCOLOR="Stairs up to DevTeam Office"={{ branch_transition }}
MENUCOLOR="Portal to Deathmatch Arena"={{ branch_transition }}

## Spells
MENUCOLOR="%.*\(gone\)"=bright blue
MENUCOLOR="100% .*%"=red
MENUCOLOR=" [5-9][0-9]% .*%"=orange
MENUCOLOR=" [2-4][0-9]% .*%"=yellow
MENUCOLOR=" 1?[0-9]% .*%"=green
MENUCOLOR=" 0% .*%"=bright green

## Option menu entry contains "uncursed" so will display in wrong color unless we set it back
MENUCOLOR="implicit_uncursed"={{ basecolor }}

## Using a bag of holding could change color because of "bag of holding" match above, so fix "look inside" and "stash" messages
MENUCOLOR="Look inside "={{ basecolor }}
MENUCOLOR="stash one item into "={{ basecolor }}
