OPTIONS=menucolors,menu_objsyms

### Item Status (BUC/worn)
{% set unknown_buc = "white" %}
{% set cursed = "red" %}
{% set uncursed = "gray" %}
{% set blessed = "green" %}
{% set danger_item = "red" %}
{% set valuable_item = "yellow" %}
{% set bag_kaboom = "cyan" %}

MENUCOLOR=""={{ unknown_buc }}
MENUCOLOR="gold pieces?"={{ valuable_item }}

MENUCOLOR="[Bb]lessed"={{ blessed }}
MENUCOLOR="[Hh]oly"={{ blessed }}

MENUCOLOR="[Cc]ursed"={{ cursed }}
MENUCOLOR="[Uu]nholy"={{ cursed }}

MENUCOLOR="[Uu]ncursed"={{ uncursed }}

MENUCOLOR=".*(being worn|\(wielded|weapon in|lit\)|\(on (left|right)|at the ready|in quiver)"={{ unknown_buc }}&inverse
MENUCOLOR="[Cc]ursed.*(being worn|\(wielded|weapon in|lit\)|\(on (left|right)|at the ready|in quiver)"={{ cursed }}&inverse
MENUCOLOR="[Uu]ncursed.*(being worn|\(wielded|weapon in|lit\)|\(on (left|right)|at the ready|in quiver)"={{ uncursed }}&inverse
MENUCOLOR="[Bb]lessed.*(being worn|\(wielded|weapon in|lit\)|\(on (left|right)|at the ready|in quiver)"={{ blessed }}&inverse

### Items
## Gray Stones
MENUCOLOR="luckstone|called luck"=bright blue
MENUCOLOR="touchstone|called touch"=bright blue
MENUCOLOR=" [Cc]ursed luckstone| [Cc]ursed.*called luck"=red
MENUCOLOR="loadstone|called load"={{ danger_item }}
MENUCOLOR="gray stone"={{ danger_item }}

MENUCOLOR="chameleon corpse"={{ danger_item }}
MENUCOLOR="doppelganger corpse"={{ danger_item }}
MENUCOLOR="were.* corpse"={{ danger_item }}

## Gemstones
MENUCOLOR="dilithium crystal"={{ valuable_item }}
MENUCOLOR="diamonds?$"={{ valuable_item }}
MENUCOLOR="rub(y|ies)$"={{ valuable_item }}
MENUCOLOR="jacinth stone"={{ valuable_item }}
MENUCOLOR="sapphires?$"={{ valuable_item }}
MENUCOLOR="black opal"={{ valuable_item }}
MENUCOLOR="emeralds?$"={{ valuable_item }}
MENUCOLOR="turquoise stone"={{ valuable_item }}
MENUCOLOR="citrine"={{ valuable_item }}
MENUCOLOR="aquamarine"={{ valuable_item }}
MENUCOLOR="amber stone"={{ valuable_item }}
MENUCOLOR="topaz stone"={{ valuable_item }}
MENUCOLOR="jet stone"={{ valuable_item }}
MENUCOLOR="opals?$"={{ valuable_item }}
MENUCOLOR="chrysoberyl"={{ valuable_item }}
MENUCOLOR="garnet stone"={{ valuable_item }}
MENUCOLOR="amethyst"={{ valuable_item }}
MENUCOLOR="jasper stone"={{ valuable_item }}
MENUCOLOR="fluorite"={{ valuable_item }}
MENUCOLOR="jade stone"={{ valuable_item }}
MENUCOLOR="obsidian stone"={{ valuable_item }}
MENUCOLOR="agate stone"={{ valuable_item }}

MENUCOLOR="Amulet of Yendor named"={{ valuable_item }}
MENUCOLOR="Amulet of Yendor named.*(being worn|\(wielded|weapon in|lit\)|\(on (left|right)|at the ready|in quiver)"={{ valuable_item }}&inverse

MENUCOLOR="wand (of|called) cancellation"={{ bag_kaboom }}
MENUCOLOR="bag (of|called) tricks"={{ bag_kaboom }}
MENUCOLOR="bag (of|called) holding"={{ bag_kaboom }}

## Branches
{% set branch_header = "white&inverse" %}
{% set branch_transition = "yellow" %}

MENUCOLOR="The Tutorial:"={{ branch_header }}
MENUCOLOR="The Dungeons of Doom:"={{ branch_header }}
MENUCOLOR="The Gnomish Mines:"={{ branch_header }}
MENUCOLOR="Stairs down to The Gnomish Mines"={{ branch_transition }}
MENUCOLOR="Sokoban:"={{ branch_header }}
MENUCOLOR="Stairs up to Sokoban"={{ branch_transition }}
MENUCOLOR="The Quest:"={{ branch_header }}
MENUCOLOR="Portal to The Quest"={{ branch_transition }}
MENUCOLOR="Fort Ludios:"={{ branch_header }}
MENUCOLOR="Portal to Fort Ludios"={{ branch_transition }}
MENUCOLOR="Gehennom:"={{ branch_header }}
MENUCOLOR="Vlad.s Tower:"={{ branch_header }}
MENUCOLOR="Stairs up to Vlad.s Tower"={{ branch_transition }}
MENUCOLOR="The Elemental Planes:"={{ branch_header }}

## |TNNT|
MENUCOLOR="robotfindskitten:"={{ branch_header }}
MENUCOLOR="Portal to robotfindskitten"={{ branch_transition }}
MENUCOLOR="DevTeam Office:"={{ branch_header }}
MENUCOLOR="Stairs up to DevTeam Office"={{ branch_transition }}
MENUCOLOR="Deathmatch Arena:"={{ branch_header }}
MENUCOLOR="Portal to Deathmatch Arena"={{ branch_transition }}

## Spells
MENUCOLOR=" 0%.*%"=green
MENUCOLOR="100%.*%"=red
MENUCOLOR="%.*\(gone\)"=orange

MENUCOLOR="implicit_uncursed"=gray
