{% if comments %}
# bones: allow loading and saving bones files
{% endif %}
{{ "# " if not nobones }}OPTIONS=!bones

{% if comments %}
# pettype: specify starting pet
{% endif %}
{{ "# " if not nopet }}OPTIONS=pettype:none

{% if base37 %}
{% if comments %}
# pauper: start character with no items, skills, spells, or discoveries
{% endif %}
{{ "# " if not pauper }}OPTIONS=pauper

{% endif -%}

{% if comments %}
# nudist: start character with no armor
{% endif %}
{{ "# " if not nudist }}OPTIONS=nudist
