{% macro unicode_symbol(symbol, name) -%}
SYMBOLS={{ name }}:{{ "U+%04X" % ord(symbol) }}
{%- endmacro %}

{{ unicode_symbol("₪", "S_magic_portal") }}
{{ unicode_symbol("ᴿ", "S_rust_trap") }}
{{ unicode_symbol("ᴹ", "S_magic_trap") }}
{{ unicode_symbol("ᴾ", "S_polymorph_trap") }}
{{ unicode_symbol("ᵀ", "S_teleportation_trap") }}
{{ unicode_symbol("ᴸ", "S_level_teleporter") }}
{{ unicode_symbol("ᴬ", "S_anti_magic_trap") }}
{{ unicode_symbol("ᴯ", "S_bear_trap") }}
{{ unicode_symbol("ᶠ", "S_fire_trap") }}
{{ unicode_symbol("ᵦ", "S_rolling_boulder_trap") }}
{{ unicode_symbol("●", "S_hole") }}
{{ unicode_symbol("◌", "S_trap_door") }}
{{ unicode_symbol("ᵥ", "S_pit") }}
{{ unicode_symbol("ᵩ", "S_spiked_pit") }}
{{ unicode_symbol("₋", "S_squeaky_board") }}
{{ unicode_symbol("₎", "S_dart_trap") }}
{{ unicode_symbol("₎", "S_arrow_trap") }}
{{ unicode_symbol("₍", "S_land_mine") }}
{{ unicode_symbol("ᴽ", "S_falling_rock_trap") }}
{{ unicode_symbol("₲", "S_ghost") }}
{{ unicode_symbol("ᶋ", "S_throne") }}
{{ unicode_symbol("π", "S_altar") }}
{{ unicode_symbol("ϔ", "S_fountain") }}
{{ unicode_symbol("≈", "S_water") }}
{{ unicode_symbol("≈", "S_pool") }}
{{ unicode_symbol("≈", "S_lava") }}
{{ unicode_symbol("Դ", "S_sink") }}

{{ unicode_symbol("|", "S_sw_ml") }}
{{ unicode_symbol("|", "S_sw_mr") }}
{{ unicode_symbol("-", "S_sw_tc") }}
{{ unicode_symbol("-", "S_sw_bc") }}
{{ unicode_symbol("|", "S_explode4") }}
{{ unicode_symbol("|", "S_explode6") }}
{{ unicode_symbol("-", "S_explode2") }}
{{ unicode_symbol("-", "S_explode8") }}
