SYMBOLS=S_magic_portal:U+20AA         {#- ₪ +#}
SYMBOLS=S_rust_trap:U+1D3F            {#- ᴿ +#}
SYMBOLS=S_magic_trap:U+1D39           {#- ᴹ +#}
SYMBOLS=S_polymorph_trap:U+1D3E       {#- ᴾ +#}
SYMBOLS=S_teleportation_trap:U+1D40   {#- ᵀ +#}
SYMBOLS=S_level_teleporter:U+1D38     {#- ᴸ +#}
SYMBOLS=S_anti_magic_trap:U+1D2C      {#- ᴬ +#}
SYMBOLS=S_bear_trap:U+1D2F            {#- ᴯ +#}
SYMBOLS=S_fire_trap:U+1DA0            {#- ᶠ +#}
SYMBOLS=S_rolling_boulder_trap:U+1DA0 {#- ᵦ +#}
SYMBOLS=S_hole:U+25CF                 {#- ● +#}
SYMBOLS=S_trap_door:U+25CC            {#- ◌ +#}
SYMBOLS=S_pit:U+1D65                  {#- ᵥ +#}
SYMBOLS=S_spiked_pit:U+1D69           {#- ᵩ +#}
SYMBOLS=S_squeaky_board:U+208B        {#- ₋ +#}
SYMBOLS=S_dart_trap:U+208E            {#- ₎ +#}
SYMBOLS=S_arrow_trap:U+208E           {#- ₎ +#}
SYMBOLS=S_land_mine:U+208D            {#- ₍ +#}
SYMBOLS=S_falling_rock_trap:U+1D3D    {#- ᴽ +#}
SYMBOLS=S_ghost:U+20B2                {#- ₲ +#}
SYMBOLS=S_throne:U+1D8B               {#- ᶋ +#}
SYMBOLS=S_altar:U+03C0                {#- π +#}
SYMBOLS=S_fountain:U+03D4             {#- ϔ +#}
SYMBOLS=S_water:U+2248                {#- ≈ +#}
SYMBOLS=S_pool:U+2248                 {#- ≈ +#}
SYMBOLS=S_lava:U+2248                 {#- ≈ +#}
SYMBOLS=S_sink:U+0534                 {#- Դ +#}

SYMBOLS=S_sw_ml:U+007C
SYMBOLS=S_sw_mr:U+007C
SYMBOLS=S_sw_tc:U+002D
SYMBOLS=S_sw_bc:U+002D
SYMBOLS=S_explode4:U+007C
SYMBOLS=S_explode6:U+007C
SYMBOLS=S_explode2:U+002D
SYMBOLS=S_explode8:U+002D
